:root{
    /* Primary */
    --Bright-orange: hsl(31, 77%, 52%); 
    --Dark-cyan: hsl(184, 100%, 22%); 
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral (background, headings, buttons)*/
    --Very-light-gray: hsl(0, 0%, 95%);

    /* (paragraphs) */
    --Transparent-white: hsla(0, 0%, 100%, 0.75)
}

html {
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very-light-gray);
}

.cont-flex{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.card-component{
    max-width: 830px;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
}

.sedans{
    width: 33.6%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Bright-orange);
    padding: 33px;
}

.sedans-icon{
    width: 30%;
}

.sedans-info h1{
    font-size: 39px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.sedans-info p{
    font-size: 15px;
    line-height: 22px;
    color: var(--Transparent-white);
}

.sedans-button{
    margin: 50px 0px 20px 0px;
}

.btn-sedans{
    border: none;
    border-radius: 50px;
    width: 135px;
    height: 45px;
    font-size: 13px;
    color:var(--Bright-orange);
}

.btn-sedans:hover {
    border: 1.5px solid;
    color: var(--Transparent-white);
    background-color: var(--Bright-orange);
    cursor: pointer;
}

.suvs{
    width: 33.6%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Dark-cyan);
    padding: 33px;
}

.suvs-icon {
    width: 30%;
}

.suvs-info h1 {
    font-size: 39px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.suvs-info p {
    font-size: 15px;
    line-height: 22px;
    color: var(--Transparent-white);
}

.suvs-button {
    margin: 50px 0px 20px 0px;
}

.btn-suvs{
    border: none;
    border-radius: 50px;
    width: 135px;
    height: 45px;
    font-size: 13px;
    color: var(--Dark-cyan)
}

.btn-suvs:hover {
    border: 1.5px solid;
    color: var(--Transparent-white);
    background-color: var(--Dark-cyan);
    cursor: pointer;
}

.luxury{
    width: 33.6%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Very-dark-cyan);
    padding: 33px;
}

.luxury-icon {
    width: 30%;
}

.luxury-info h1 {
    font-size: 39px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.luxury-info p {
    font-size: 15px;
    line-height: 22px;
    color: var(--Transparent-white);
}

.luxury-button {
    margin: 50px 0px 20px 0px;
}

.btn-luxury {
    border: none;
    border-radius: 50px;
    width: 135px;
    height: 45px;
    font-size: 13px;
    color: var(--Very-dark-cyan);
}

.btn-luxury:hover {
    border: 1.5px solid;
    color: var(--Transparent-white);
    background-color: var(--Very-dark-cyan);
    cursor: pointer;
}

.attribution {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 14px;
}

.attribution a {
  margin-left: 5px;
  text-decoration: none;
  color: blue;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.card-component {
    max-width: 230px;
    min-height: 930px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.sedans {
    width: fit-content;
    height: 250px;
    padding: 30px;
}

.sedans-info{
    width: 170px;
}

.sedans-info h1 {
    font-size: 30px;
}

.sedans-info p {
    font-size: 11px;
    line-height: 17px;
}

.sedans-icon {
    width: 29%;
}

.sedans-button {
    margin: 0;
}

.btn-sedans{
    border-radius: 20px;
    width: 106px;
    height: 35px;
    font-size: 10px;
}

.suvs {
    width: fit-content;
    height: 250px;
    padding: 30px;
}

.suvs-info {
    width: 170px;
}

.suvs-info h1 {
    font-size: 30px;
}

.suvs-info p {
    font-size: 11px;
    line-height: 17px;
}

.suvs-icon {
    width: 29%;
}

.suvs-button {
    margin: 0;
}

.btn-suvs {
    border-radius: 20px;
    width: 106px;
    height: 35px;
    font-size: 10px;
}

.luxury {
    width: fit-content;
    height: 250px;
    padding: 30px;
}

.luxury-info {
    width: 170px;
}

.luxury-info h1 {
    font-size: 30px;
}

.luxury-info p {
    font-size: 11px;
    line-height: 17px;
}

.luxury-icon {
    width: 29%;
}

.luxury-button {
    margin: 0;
}

.btn-luxury {
    border-radius: 20px;
    width: 106px;
    height: 35px;
    font-size: 10px;
}

.attribution {
    padding-top: 10px;
    font-size: 10px;
}

}